/* CSS Document */

section{
    padding: 100px 0;
}
section h2.section-heading{
	margin-top: 0 auto;
	margin-bottom: 15px;
	font-size:36px;
	border-bottom: 5px solid #00CCCC;
    padding-bottom: 5px;
    display: inline-block;
}
section h3.section-subheading{
    margin-bottom: 75px;
    margin-top: 10px;
    text-transform: none;
    font-family: arial unicode ms;
    font-size:16px;
    font-style: italic;
    font-weight: 400;
}
.skills{
    background:#f5f5f5;
    color:#474d5d;
}

.skills .heading p{
    padding-bottom:41px;
}

.skills p{
    color:#474d5d;
}
.skills .skillsArea{
    padding:0px;
}
.skills .skills{
    margin:0 auto;
    margin-bottom:23px;
    text-align:center;
    padding:0px;
    float:none;
}
.skills .skills p{
    color:blue;
    font-size:13px;
    line-height:18px;
    text-align:center;
}
.skills .skills img{
    margin:0 auto;
    margin-bottom:33px;
    width:100%;
    max-width:152px;
}

.skills .skills h4{
    font-weight:700;
    text-transform:uppercase;
}

.skilBg{
    background:url(../img/skills.png) no-repeat 0 0;
}
.chart{
  position: relative;
  display: inline-block;
  width: 152px;
  height: 152px;
  margin-bottom: 26px;
  text-align: center;
}

.chart canvas{
  position: absolute;
  top: 0;
  left: 0;
}

.percent{
  display: inline-block;
  font-size:21px;
  //color:red;
  line-height:152px;
  z-index: 2;
}

.percent:after{
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

.angular{
  margin-top: 100px;
}

.angular .chart{
  margin-top: 0;
}
.animated{
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@keyframes fadeInDown{
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
  }

  100%{
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.fadeInDown{
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}